GOOGLE_CHAT_WEBHOOK_URL="your-google-chat-webhook-url"
APPS_SCRIPT_WEB_APP_URL="your-apps-script-web-app-url"

# Firebase Admin SDK Configuration (for server-side authentication)
NEXT_PUBLIC_FIREBASE_API_KEY="your-firebase-project-id"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="auth-domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="bucket"
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_CLIENT_EMAIL="your-service-account@your-project.iam.gserviceaccount.com"
NEXT_PUBLIC_FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Private-Key-Here\n-----END PRIVATE KEY-----\n"