@import "tailwindcss";

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.165 0.026 254.604);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.165 0.026 254.604);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.165 0.026 254.604);
  --color-primary: oklch(0.593 0.207 260.316);
  --color-primary-foreground: oklch(0.965 0.013 254.139);
  --color-secondary: oklch(0.961 0.006 254.624);
  --color-secondary-foreground: oklch(0.244 0.031 254.916);
  --color-muted: oklch(0.961 0.006 254.624);
  --color-muted-foreground: oklch(0.546 0.023 253.264);
  --color-accent: oklch(0.961 0.006 254.624);
  --color-accent-foreground: oklch(0.244 0.031 254.916);
  --color-destructive: oklch(0.659 0.204 22.216);
  --color-destructive-foreground: oklch(0.965 0.013 254.139);
  --color-border: oklch(0.919 0.011 253.845);
  --color-input: oklch(0.919 0.011 253.845);
  --color-ring: oklch(0.593 0.207 260.316);
  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
